@import '../variables';

.concerts {
  position: relative;

  .background {
    z-index: -1;
    background-color: black;
    content: '';
    position: sticky;
    top: var(--height-header);
    left: 0;
    width: 100%;
    height: var(--height-min-section-vh);

    .portrait,
    .landscape {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
        filter: sepia(0.4) brightness(0.4);
      }
    }

    .portrait {
      display: none;
      img {
        top: 2.5rem;
        transform: unset;
      }
    }

    @media (max-aspect-ratio: 1) {
      .portrait {
        display: block;
      }
      .landscape {
        display: none;
      }
    }

    // .portrait,
    // .landscape {
    //   width: 100%;
    //   height: 100%;
    //   position: relative;
    //   overflow: hidden;

    //   img {
    //     width: 100%;
    //     height: auto;
    //     filter: brightness(0.5) sepia(0.5);
    //     position: absolute;
    //   }
    // }

    // .portrait {
    //   display: none;
    //   img {
    //     bottom: 0;
    //   }
    // }

    // .landscape {
    //   img {
    //     top: 0;
    //   }
    // }

    // @media (max-aspect-ratio: 1) {
    //   .portrait {
    //     display: block;
    //   }
    //   .landscape {
    //     display: none;
    //   }
    // }
  }

  .content {
    margin-top: calc(-1 * var(--height-min-section-vh));

    padding: var(--padding-section);
    min-height: var(--height-min-section);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .concertList {
      z-index: 1;
      display: grid;
      row-gap: 3rem;
      padding-bottom: 1rem; // extra padding for "show more.."

      grid-template-columns: 1fr auto 1fr auto 1fr;
      column-gap: 1rem;
      @media (max-width: $bp-narrow-layout) {
        grid-template-columns: 1fr auto 1fr;
        column-gap: 0;
      }

      .gridDiv {
        grid-column: 2;
        &:nth-child(even) {
          grid-column: 4;
        }
        @media (max-width: $bp-narrow-layout) {
          grid-column: 2 !important;
        }

        .concert {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;

          &__name {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 200;
            letter-spacing: 0.2rem;
          }

          &__date-venue {
            font-weight: 300;
            display: flex;
            flex-direction: column;
          }
        }
      }
      .pastConcerts {
        display: flex;
        justify-content: center;
        // background-color: blue;
        grid-column: 2 / 5;
      }
    }
  }
}
