.footer {
  background-image: linear-gradient(
    to right,
    transparent,
    var(--color-bg-header-light)
  );

  padding: var(--padding-section);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(3.5rem, max(2.3rem, 8vw));
    a {
      display: flex;
      img {
        height: 2rem;
        width: auto;
      }
    }
  }

  .links {
    a {
      text-align: center;
    }
    padding: 0 5%;
  }
}
