// $bp-max-width-large: 90em;
$bp-max-width-large: 92em; // to show narrower layout with macbook air 1440 width
$bp-header-menubutton: 60em;
$bp-padding-smaller: 60em;
$bp-narrow-layout: 45em; // 720px for Videos.tsx
$bp-padding-smallest: 36em;
$bp-header-thin: 36em;
$bp-title-small: 36em;
$bp-title-smaller: 25em;
$bp-title-none: 22em;
